html
head
title= title
//- style include use 
//- style
//-    include ../folder/file
body
h1= mass
//- |
//- <!-- //- variable carry  -->
//- |
//- <!-- //- #{variable name} in title -->
//- |
//- <!-- //- para  | #{variable name}   and in the newline add comment so use   | -->