<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/../static/Css/template.css ">
    <!-- {% block content %} {% endblock %} -->
    <title>avians</title>
</head>

<body>
    <div id="navBar" class="navBar">
        <div id="navPart1" class="navPart1">
            <img src="../../static/images/logo.jpg" alt="">
        </div>
        <div id="navPart2" class="navPart2">
            <ul id="navPointBox" class="navPointBox">
                <li id="point1" class="point">
                    <a href="/Home">Home</a> </li>
                <li id="point2" class="point">
                    <a href="/Details">Details</a> </li>
                <li id="point3" class="point">
                    <a href="/AboutUs">AboutUs</a> </li>
                <li id="point4" class="point">
                    <a href="/Blogs">Blogs</a> </li>
                <li id="point5" class="point">
                    <a href="/Feedback">Feedback</a>
                </li>
                <li id="point6" class="point">
                    <a href="/Quizs">Quizs</a> </li>
                <li id="point7" class="point">
                    <a href="/Games">Games</a> </li>
            </ul>
        </div>
        <div id="navPart3" class="navPart3">
            <input type="text" name="navInput" id="navInput" class="navInput">
            <button id="navBtn" class="navBtn">Search</button>
        </div>

    </div>
    <div id="footer" class="footer">
        <div id="footer1" class="footer1">
            <div class="footerDetails" id="footerDetails">
                &copy; 2022 Avinash
            </div>
            <div class="footerImg" id="footerImg">
                <img src="../../static/images/face.jpg" alt="" id="footerImg1" class="footerImg">
                <img src="../../static/images/ins.jpg" alt="" id="footerImg2" class="footerImg">
                <img src="../../static/images/twi.jpg" alt="" id="footerImg3" class="footerImg">
            </div>
        </div>
        <div id="footerPoint" class="footerPoint">
            <div id="footerPart2" class="footerPart2">
                <ul id="footerPointBox" class="footerPointBox">
                    <li id="footerpoint1" class="footerpoint">
                        <a href="/Home" class="color">Home</a>
                        <ul>
                            <li>alla</li>
                            <li>llll</li>
                            <li>11111</li>
                        </ul>
                    </li>
                    <li id="footerpoint2" class="footerpoint">
                        <a href="/Details" class="color">Details</a>
                        <ul>
                            <li>alla</li>
                            <li>llll</li>
                            <li>11111</li>
                        </ul>
                    </li>
                    <li id="footerpoint3" class="footerpoint">
                        <a href="/AboutUs" class="color">AboutUs</a>
                        <ul>
                            <li>alla</li>
                            <li>llll</li>
                            <li>11111</li>
                        </ul>
                    </li>
                    <li id="footerpoint4" class="footerpoint">
                        <a href="/Blogs" class="color">Blogs</a>
                        <ul>
                            <li>alla</li>
                            <li>llll</li>
                            <li>11111</li>
                        </ul>
                    </li>
                    <li id="footerpoint5" class="footerpoint">
                        <a href="/Feedback" class="color">Feedback</a>
                    </li>
                    <li id="footerpoint6" class="footerpoint">
                        <a href="/Quizs" class="color">Quizs</a> </li>
                    <li id="footerpoint7" class="footerpoint">
                        <a href="/Games" class="color">Games</a> </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>


<!-- {% block body %} {% endblock %}
    
    
    
    
        {% extends "Html/template.html" %} {% block content %}
    <link rel="stylesheet" href="{{url_for('static',filename=" Css/template.css ")}}"> {% endblock %} {% block body %}
    <div>
    
    </div>
    {% endblock %} -->