extends template.pug 
block script 
    script(src="/static/script.js") 
    //- script 
    //-     include ../static/script.js
block style 
    style 
        include ../static/style.css
block content    
    section#sec
        div.md 
            div.d1 Service 
            div#d2
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab maxime vitae debitis illo harum id fugiat voluptatem.
                p Lorem ipsum dolor sit amet consectetur adipisicing 
    section#sec3 
        div.md
            div.sd1 Sponsor 
            div.sd2
                div
                    img(src="/static/img/images2 (1).png")
                    img(src="/static/img/1st.png", alt="")
                    img(src="/static/img/images2 (2).png") 
                    img(src="/static/img/images3.jpg")     
                    img(src="/static/img/3-1.png")
    section#sec4 
        div.md
            div.sd1 Feedback
            form(action='/' method='POST')
                div.for 
                    | Name:
                    input(type='text',name="Name")
                    | Email:
                    input(type='text',name="Email")
                    | Feedback 
                    textarea(name="Feedback", cols="30", rows="10") 
                    | More 
                    textarea(name="More", cols="30", rows="10") 
                    input(type ="submit" value="submit now")
    footer#foot Copyright © 2020-2021 AvinashGYM.com       