doctype html
html
    head
        title AvinashGYM
        block script 
        block style  
    body 
        div.head#home
            button#bt(onclick="show()")
                img#im(src="/static/img/logo.jpg", alt="")
            ul.head#main(type="none")
                li #[a(href="#home") Home]
                li #[a(href="#sec") Service]
        block content 
        
            